@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300);

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color:#585858;
	font-weight: 300;
	margin-left: 50px;
}
 #grid{
   max-width: 600px;
   max-height: 600px;
   margin-left: auto;
   margin-right: auto;
   line-height: 0;
   font-size: 0;
 }
 .square--grey{
   display: inline-block;
   background-color: #585858;
   height: 15px;
   width: 15px;
   border-radius: 1px;
}
.square--green{
	display: inline-block;
	background-color: #50f442;
	height: 15px;
	width: 15px;
	border-radius: 3px;
}
h1{
	float: none;
	padding: 0px 0;
	text-align: center;
	font-size: 30px;
	font-weight:500px;
}
form {
	text-align: center;
}
input,
textarea {
  border:none;
  width: 20%;
  padding: 18px;
  margin-bottom: 15px;
  margin-right: 2px;
  border-radius: 5px;
}
input[type="button"] {
	background-color: #585858;
	color: #fff;
	cursor: pointer;
}
